<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="index.css" type="text/css">
	</head>
	<body>
		<h1>Showing results for {{query}}</h1>

		<hr/>
		<br/>

		<ul class="playlists" ng-show="playlists.length > 0">
			<h4>PLAYLISTS</h4>
		<li class="searchresult" ng-repeat="p in playlists">
				<!-- should get covers or something else I didnt implement the js file to get those info -->
			<p>
			<a href="#/users/{{p.owner.id}}/playlists/{{p.id}}">{{p.name}}</a>
			</p>
		</li>
		<hr/>
		</ul>

		<h4>TRACKS</h4>
		<table class="tracks">
			<thead>
				<th></th>
				<th>SONG</th>
				<th>ARTIST</th>
				<th>ALBUM</th>
				<th>TIME</th>
			</thead>
			<tbody>
				<tr ng-repeat="t in tracks" ng-class="{ playing: (t.uri == currenttrack) }">
					<td>
						<a href="#/artists/{{t.artists[0].id}}">{{t.artists[0].name}}</a>
					</td>
					<td>
						<a href="#/albums/{{t.album.id}}">{{t.album.name}}</a>
					</td>
				</tr>
			</tbody>
		</table>

		<br/>
	</body>
</html>